@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, traveller</h1>
    <p>This web application is being hosted on @ViewBag.Hostname and is running @ViewBag.Version</p>
</div>
