@model List<mariadbtestWebApplication.Models.Family>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Maria Db Test Web App</h1>
    
    <h3>This is my family:</h3>

    @{ 
        foreach (var familyMember in Model)
        {
            <p>@familyMember.Name</p>
        }
    }
</div>
